<style>
    li:hover{
        color:white;
    }
  
    .container {
  position: relative;
  
}



.container .btnn {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(241, 237, 237);
  color:#27c777;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
</style>
<footer>
    <div class="bod" style="color: white;">
        <br><br>
        <div class="container">
            <img width="90%"  src="./reg.png">
        <a href="\">    <button class="btnn">Apply Now</button></a>
          </div>

<br><br>
<p style="color: whitesmoke; font-size: larger; margin-right: 70%;"><b>Tracks</b></p><br>
<ul >
    <div class="ab">
    
    
   <b> <a href="\" ><li>Software <br>Development</li>
<li>Data Analysis</li>
<li>Marketing & Sales</li></a></b></div>
</ul>
</ul>
<br>

<p style="color:white; font-size: larger; margin-right: 40%; margin-bottom: 9%; margin-top: -11.6%;"><b>Company</b></p><br>
<div style="color:white;  margin-right: 48%; margin-bottom: 9%; margin-top: -9%"><ul>
  <b> <a href="\" > <img src="w.png" width="3%"> <li style="margin-top: -3%; margin-right: -20%;">Contact us </li>
     <li style="margin-top: 1%; margin-right: -27%;"><img src="c.png" width="2%">&nbsp; Request a Call back </li>
     <li style="margin-top: 1%; margin-right: -26%;"><img src="t.png" width="2%">&nbsp; Terms & Conditions</li>
     <li style="margin-top: 1%; margin-right: -11%;"><img src="p.png" width="2%">&nbsp; Privacy</li>
  
  </a></b>
</ul></div>

<p style="color:white; font-size: larger; margin-right: -40%; margin-bottom: 9%; margin-top: -20.6%;"><b>Got a Referral Code?</b></p><br>
  <div  style="color:white;  margin-right: -53%; margin-bottom: 9%; margin-top: -9%">
  Enter your referral code to enroll directly into<br>the Internship Training Program.</p>
  <br>
  <form>
    <label for="enter">
      <input type="text" placeholder="Enter your Referral COde">
    </label>
    <button>Proceed</button>
  </form>

</div>
<br>©2021 This page is protected by reCAPTCHA and is subject to the Google Privacy Policy and Terms of Service.

</div></footer>
</body>
</html>
