<%- include('partials/header'); -%>
<style>
  
  
  .column {
    float: left;
    width: 33.33%;
  
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
   <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 300%; margin-left: 25%; margin-top:15%;">Internship Training Program</h2>
    <p style="margin-left: 30%; margin-top: 3%;">Get trained, work on live projects and get certified in 8 weeks</p>
    
    <div class="navbarreg">
      <a href="/login" style="color: white; font-family: Arial, Helvetica, sans-serif;"><img src="/git.png" width="30px" height="30px"><b>&nbspRegister for free</b></a>
    </div>
      <div class="navbarexp">
      <a href="/signup" style="color: white; font-family: Arial, Helvetica, sans-serif;"><b>Explore Tracks</b></a></div>
    <div class="new">
      <a href="/"> <p style="color: #2cb671; margin-top: -4%;"><b>Application Deadline: 11:00 AM, 24<sup>th</sup>September, 2021 →</b></p></a>
    </div>

    <br><br><br>
    <div  style="margin-left: 23%;">
        <img src="a.png" width="71%" alt="Snow" ></div>
      
    
        <br><br><br><br>
      <br>

        <div  style="margin-left: 15%;">
        <a href="\"  ><img src="d.png" width="95%" alt="Snow" ></a></div>
        <br><br><br><br>
      <br>
      <div  >
     <a href="\">   <img src="bl.png" width="120%" alt="Snow" ></a></div>
      
    
        <br><br><br><br>

      <div  style="margin-left: 23%;">
        <img src="bel.png" width="71%" alt="Snow" ></div>
      
    
        <br><br><br><br>
      <br>
        <div  style="margin-left: 20%;">
          <a href="\"  ><img src="rev.png" width="75%" alt="Snow" ></a></div>


<%- include('partials/footer'); -%>